body {
    padding: 5%;
    color : #aaa;
    width : 100%;
}

.wrapper {
    max-width            : 500px;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap      : 20px;
    grid-row-gap         : 20px;


}

.grid {}

input {
    border       : 1px solid #000;
    border-radius: 3px;
    padding      : 3px 7px;
    font-size    : 18px;
}

.titleof {
    font-size     : 17px;
    padding-bottom: 5px;
}

.imp {
    color: red;
}

.btn {
    padding         : 7px 12px;
    color           : #000;
    font-size       : 20px;
    background-color: rgb(112, 179, 255);
    color           : #fff;
    border-radius   : 7px;
    position        : relative;
    top             : 69%;
    transform       : translate(0, -50%);
}

.searching {
    margin-top           : 40px;
    font-size            : 17px;
    display              : grid;
    grid-template-columns: 50px 400px 5px;
    align-items          : center;
    max-width            : 500px;
}

.search {
    margin          : 0 10px;
    background-color: #fff;
    padding: 8px 12px;
}

table {
    width          : 100%;
    margin-top     : 30px;
    color          : #fff;
    border-spacing : 0px;
    border-collapse: collapse;



}

th {
    height: 60px;
    border: 0;
}
tr{
    border-top: 1px solid rgb(180, 180, 180);
}

.fas {
    font-size: 20px;
}

.top {
    background-color: rgb(211, 211, 211);
    font-size       : 17px;

}